.editEvent {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  border-radius: 50px;
  background: #fff;
  /* background: #292929; */
  text-align: center;
  box-shadow: -6px 0px 20px -2px rgb(202 199 199 / 77%);
  z-index: 1;
}
#editEventImg img {
  overflow: hidden;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  z-index: 99999;
  opacity: 1;
}

/*  */
.where1{
  display: flex;
  flex-direction: column;
}
.where11{
  display: flex;
  justify-content: space-around;
  margin:  5px 0;
}
.location1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.date1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.description1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
.otherSetup1{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.updateEvent{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.editEvent input {
  border: 1px solid rgb(100, 92, 92);
  border-radius: 40px;
  text-align: center;
  background: #ffffffd3;
  display: inline-block; 
  outline: none;
  height: 35px;
  width: 25%;
}
.updateEvent select{
  border: 1px solid rgb(211, 206, 206);
  border-radius: 40px;
  width: 25%;
  height: 35px;
  outline: none;
  color: rgba(85, 81, 81, 0.664);
}
.description1 textarea{
  border: 1px solid rgb(211, 206, 206);
    border-radius: 15px;
    width: 50%;
    height: 60px;
    outline: none;
    resize: none;
}
.where1 h3 {
  color: #212529b0;
  font-size: 20px;
}
.updateEvent h3 {
  color: #212529b0;
  font-size: 20px;
}
.otherSetup1 label{
  width: 60%;
  
}
#onlineLocal1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-top: 15px;
}
.btnCreate1 button {
  color: #fff;
  border: 1px solid rgb(211, 206, 206);
  border-radius: 40px;
  text-align: center;
  background: #2da58d;
  display: inline-block;
  width: 90px;
  height: 35px;
  margin-right: 5px;
}
.UpdateExit{
  display: flex;
  justify-content: center;
  margin-top: 10px;
 
}